<footer class="site-footer">

  <div class="wrapper">



  </div>

</footer>

<script>
    function showFamily(){
        document.getElementById("results-sport").classList.remove("show");
        document.getElementById("btn-family").classList.remove("focus");
        document.getElementById("results-family").classList.add("show");
    }
    
    function showSport(){
        document.getElementById("results-family").classList.remove("show");
        document.getElementById("btn-family").classList.add("focus");
        document.getElementById("results-sport").classList.add("show");
    }

</script>
