---
layout: default
---

<div class="tag-wrapper">

<div class="tag-cloud-fixed">
    <button id="btn-family" class="btn-big btn-blue" onclick="showFamily()">family</button>
    <button class="btn-big btn-blue">love</button>
    <button id="btn-sport" class="btn-big btn-blue" onclick="showSport()">sport</button>
</div>
<div class="tag-cloud-generated">
    <button class="btn-big btn-orange">hope</button>
    <button class="btn-big btn-orange">war</button>
    <button class="btn-big btn-orange">workers</button>
</div>
 
</div>

<div class="results-wrapper">    

    <div id="results-family">
        <ul class="results">
            <li>
                <a href="{{ site.github.url }}/hobson-grant.html">Koonibba Roosters Football Club<strong class="artist-name">Hobson Grant</strong> New Media</a>
            </li>
            <li>
                <a href="">Dust on the Shortbread <strong class="artist-name">Anything Is Valid Dance Theatre</strong> Collaborative/Devised Theatre</a>
            </li>
        </ul>
    </div>
    
    <div id="results-sport">
        <ul class="results">
            <li>
                <a href="hobson-grant.html">Koonibba Roosters Football Club<strong class="artist-name">Hobson Grant</strong> New Media</a>
            </li>
        </ul>
    </div>
    
</div>